#game-board {
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#game-board td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #787b76;
    cursor: pointer;
}

#game-board td:hover {
    background-color:#cbc8c8 ;
}

#game-board td:empty {
    background-color: rgb(213, 47, 255);
}

#game-board td.empty {
    background-color: #b99cbf;
}

#game-board td.x {
    background-color: #ff3333; /* Vermelho */
    color: rgba(255, 255, 255, 0.384);
}

#game-board td.o {
    background-color: #33FF57; /* Verde */
    color: rgb(168, 152, 152);
}
